body{
    background-color:gainsboro;
    text-align: center;
}
#top{
    background-color: blueviolet;   
    color: white;
    border-radius: 20px;
    padding: 20px;
}
#h1{
    border: 4px solid red;
    padding: 10px;
}
#main1{
    margin-top: 20px;
    text-align:justify;
    margin-inline-start: auto;
}
.divt{
    background-color:rgb(224, 218, 218);
    border-radius: 7px;
    border: 2px solid white;
    margin: 20px;
    padding: 10px;
}
#divmain{
    border-radius: 10px;
    margin: 200px;
    margin-right: 200px;
    background-color: white;
    padding: 40px;
    margin-top: 100px;
}
#box{
    border: 5px solid blueviolet;
    padding: 8px;
    margin-left: 20px;
    background-color: rgb(231, 231, 113);
    width: 300px;
}
#boxid{
    padding-left: 19px;
}
#sub{
    text-align: left;
    margin-left: 22px;
}