.h1{
    color: white;
    background-color:blueviolet;
    padding: 10px;
}
#head{border: 2px solid red;
}
/* .form1{
    background-color:white;
} */
.cls1{
    color:black;
    background-color: antiquewhite;
    padding:40px;
}