body{
    height: 100vh;
    display: grid;
    background-color:gainsboro;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header header" "nav main";
}
header{
    grid-area:header;
    background-color:blue;
    text-align: center;
    color:white;
    padding:20px;
    font-size: 30px;
}
nav{
    grid-area:nav;
    background-color:black;
    color:white;
    padding: 20px;
}
main{
    grid-area: main;
}
.grid1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:30px;
}
.g1{
    background-color:white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
} 
.grid2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin-top: 40px;
}
.g2{
    background-color:white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}


/* nav menu{
    padding: 10px 5px;
    font-size: 10px;
} */
 /* margin-top: 20px; */
/* font-weight: bold; */
/* box-shadow:0 2px 7px; */
 